<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8VTAungI-CRzIfr03c3xH_sMu0FWN8Z8</string>
	<key>GCM_SENDER_ID</key>
	<string>937783297516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ppdb</string>
	<key>PROJECT_ID</key>
	<string>ppdb-pami-e93a1</string>
	<key>STORAGE_BUCKET</key>
	<string>ppdb-pami-e93a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937783297516:ios:b3828368f50260194d6cc9</string>
</dict>
</plist>